* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard{
  background-color: grey;
  width: 100vmin;
  height: 100vmin;

  display: grid;
}

.snake{
  background-color: green;
  border: .4vmin solid lawngreen;
}
.food{
  display: block;
  width: 100%;
}
